{% extends fobi_theme.base_edit_template %}

{% load i18n %}

{% block page-title %}Accueil gestionnaire de formulaire{% endblock page-title %}

{% block navbar-menu-content %}
{% endblock navbar-menu-content %}

{% block navbar-menu-right-content %}
    <li class="active"><a href="{% url 'fobi.dashboard' %}">Formulaires</a></li>
    <li><a href="{% url 'fobi.form_wizards_dashboard' %}">Wizards</a></li>
{% endblock navbar-menu-right-content %}

{% block main-content-inner-attrs %}{% endblock main-content-inner-attrs %}

{% block content-wrapper %}
    <div class="page-header">
        <h1>Liste des formulaires</h1>
    </div>

    <div class="row">
        <div class="col-8 col-sm-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-sm-3">Les formulaires</th>
                            <th class="col-sm-1">publique</th>
                            <th class="col-sm-1">actif</th>
                            {#<th class="col-sm-1">{% trans "est clonable" %}</th>#}
                            <th class="col-sm-3">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% block form_entry_table_row %}
                            {% for form_entry in form_entries %}
                                <tr>
                                    <td><a class="btn btn-primary"
                                           href="{% url 'fobi.view_form_entry' form_entry.slug %}">{{ form_entry.name }}</a>
                                    </td>
                                    <td>{{ form_entry.is_public }}</td>
                                    <td>{{ form_entry.is_active }}</td>
                                    {#<td>{{ form_entry.is_cloneable }}</td>#}
                                    <td>
                                        <ul class="list-inline btn-group" role="group">
                                            <li>
                                                <a class="btn btn-primary"
                                                   href="{% url 'fobi.edit_form_entry' form_entry.pk %}">
                                                    <span class="glyphicon glyphicon-edit"></span> {% trans "Modification" %}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-danger"
                                                   href="{% url 'fobi.delete_form_entry' form_entry.pk %}">
                                                    <span class="glyphicon glyphicon-remove"></span> {% trans "Suppression" %}
                                                </a>
                                            </li>
                                            <li>
                                                <a class="btn btn-success"
                                                   href="{% url 'fobi.export_form_entry' form_entry.pk %}">
                                                    <span class="glyphicon glyphicon-export"></span> {% trans "Export" %}
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock form_entry_table_row %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4 col-sm-4 col-lg-4">
            <div class="list-group">
                {% block form_entry_actions %}
                    <a class="btn btn-primary mt-4" href="{% url 'fobi.create_form_entry' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-plus"></span> {% trans "Créer un formulaire" %}
                    </a>
                    <a class="btn btn-primary mt-2" href="{% url 'fobi.import_form_entry' %}" class="list-group-item">
                        <span class="glyphicon glyphicon-import"></span> {% trans "Importer un formulaire" %}
                    </a>
                    {% for form_importer_uid,form_importer_name,form_importer_url in form_importers %}
                        <a href="{{ form_importer_url }}" class="list-group-item">
                            <span class="glyphicon glyphicon-import glyphicon-import-{{ form_importer_uid }}"></span> {{ form_importer_name }}
                        </a>
                    {% endfor %}
                {% endblock form_entry_actions %}
            </div>
        </div>
    </div>
{% endblock content-wrapper %}

{% block sidebar-wrapper %}
{% endblock sidebar-wrapper %}
