{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% block title %}Détail{% endblock %}

{% block content %}
    <div class="container mt-4">
        {% for key, value in data %}
            <div class="row">
                {% if key == "Validation" and value == "True" %}
                    <h4>{{ key }} : </h4>
                    <p style="color: green">Validé</p>
                {% elif key == "Validation" and value == "False" %}
                    <h4>{{ key }} : </h4>
                    <p style="color: red">Non Validé</p>
                {% elif key != "Id" %}
                    <h4>{{ key }} : </h4>
                    <p>{{ value }}</p>
                {% endif %}
            </div>
        {% endfor %}


        <div class="row mt-4">
            <a href="/report/{{ data.id }}" class="btn btn-danger bt-sm">Générer en pdf</a>
        </div>
        <h4 class="mt-4" style="font-weight: bold">Commentaires :</h4>
        {% if not comments %}
            <p style="font-style: italic">Pas de commentaires</p>
        {% else %}
            {% for comment in comments %}
                <div class="card mt-4">
                    <div class="card-header">
                        {{ comment.username_writer }} [{{ comment.role_writer }}]
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ comment.message }}</p>
                            <footer class="blockquote-footer">Date création
                                : {{ comment.date_comment|date:"d / m / Y H:i" }}>
                                {% if comment.username_writer == user.username %}
                                    <a href="/delete_comment/{{ comment.id }}" class="btn btn-danger btn-sm"
                                       onclick="return confirm('Êtes vous sur de vouloir supprimer ce commentaire ?')">Supprimer</a>
                                {% endif %}
                            </footer>
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row mt-4">
            <h4 style="font-weight: bold">Ecrire un commentaire : </h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
            </form>
        </div>
        <div class="row">
            <a href="{% url "liste_recherche" %}" class="btn btn-primary mt-4"> < Retour</a>
        </div>
    </div>
{% endblock %}