{% extends "main/base.html" %}
{% load crispy_forms_filters %}
{% block title %}Détail{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <h2>{{ data.last_name }} {{ data.first_name }}</h2>
        </div>
        <div class="row">
            <h4>Description : </h4>
            <p>{{ data.description }}</p>
        </div>
        <div class="row">
            <h4>Validation : </h4>
            {% if data.is_valid %}
                <p style="color: green">Validé</p>
            {% else %}
                <p style="color: red">Non validé</p>
            {% endif %}
        </div>
        <h4>Commentaires : </h4>
        {% for comment in comments %}
            <div class="card mt-4">
                <div class="card-header">
                    {{ comment.username_writer }} [{{ comment.role_writer }}]
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ comment.message }}</p>
                        <footer class="blockquote-footer">Date création : {{ comment.date_comment|date:"d / m / Y H:i" }}>
                        </footer>
                    </blockquote>
                </div>
            </div>
        {% endfor %}
        <div class="row mt-4">
            <h4>Ecrire un commentaire : </h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button type="submit" class="btn btn-primary mt-4">Envoyer</button>
            </form>
        </div>
        <div class="row">
            <a href="{% url "liste_recherche" %}" class="btn btn-primary mt-4"> < Retour</a>
        </div>
    </div>
{% endblock %}