{% extends "main/base.html" %}
{% include fobi_theme.base_edit_template %}

{% load i18n %}

{% block title %}Ajout d'un formulaire{% endblock %}



{% block content %}
    <div class="container">
        <div class="page-header text-center mt-4">

            <h1>
                Création de formulaire
            </h1>

        </div>


        <form id="fobi-form" method="post" action="/fobi/forms/create/" enctype="multipart/form-data"
              class="form-horizontal">

            {% csrf_token %}

            <div class="well well-sm">
                Les champs marqués avec <span class="required-field">*</span> sont requis
            </div>


            <div class="form-group mt-4">


                <label class="col-sm-3 control-label" for="id_name">
                    Nom du formulaire <span class="required-field">*</span>
                </label>


                <div class="col">


                    <input type="text" name="name" class="form-control" required id="id_name">


                </div>
            </div>


            <div class="form-group">


                <label class="col-sm-3 control-label mt-4" for="id_title">
                    Titre
                </label>


                <div class="col">


                    <input type="text" name="title" class="form-control" id="id_title">


                    <span class="help-block">Affiché dans les templates si disponible</span>

                </div>
            </div>


            <div class="form-group">


                <label class="col-sm-3 control-label mt-4" for="id_is_public">
                    Publique ?
                </label>


                <div class="col">


                    <input type="checkbox" name="is_public" data-customforms="disabled" id="id_is_public">


                    <span class="help-block">Formulaire visible par tout le monde</span>

                </div>
            </div>


            <div class="control-group">
                <div class="controls text-center mt-4" style="margin-bottom: 10%;">

                    <button type="submit" class="btn btn-lg btn-primary">
                        Ajouter
                    </button>

                </div>
            </div>
        </form>


    </div>

    <style>
        .control-label {
            font-weight: bold;
        }
    </style>

{% endblock content %}

