{% extends "main/base.html" %}
{% include fobi_theme.base_edit_template %}

{% block content %}
    {% load i18n %}

    <div class="container">
    {% block main-content-inner-attrs %}{% endblock main-content-inner-attrs %}


    <div class="page-header">
        <h1 class="text-center mt-4">Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-8 col-sm-8 col-lg-8">
            <!-- Forms -->
            <div>
                <h2 id="form_handlers">Vos formulaires</h2>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="col-sm-3">Formulaires</th>
                            {# <th class="col-sm-1">Public</th> #}
                            {# <th class="col-sm-1">Actif</th> #}
                            {#<th class="col-sm-1">{% trans "Is cloneable" %}</th>#}
                            <th class="col-sm-3">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% block form_entry_table_row %}
                            {% for form_entry in form_entries %}
                                <tr>
                                    <td>
                                        <a href="{% url 'fobi.view_form_entry' form_entry.slug %}"
                                           style="text-decoration: none;">{{ form_entry.name }}</a>
                                    </td>
                                    {# <td>{{ form_entry.is_public }}</td> #}
                                    {# <td>{{ form_entry.is_active }}</td> #}
                                    {#<td>{{ form_entry.is_cloneable }}</td>#}
                                    <td>
                                        <ul class="list-inline btn-group">

                                            <li>
                                                <a href="{% url 'fobi.edit_form_entry' form_entry.pk %}"
                                                   class="btn btn-outline-warning">
                                                    Editer
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/dashboard/delete/{{ form_entry.id }}"
                                                   class="btn btn-outline-danger"
                                                   onclick="return confirm('Êtes vous sur de vouloir supprimer ce formulaire ?')">
                                                    Supprimer
                                                </a>
                                                <!--TODO: Faire un bouton supprimer de la BDD directement -->
                                            </li>
                                            <li>
                                                <a href="{% url 'fobi.export_form_entry' form_entry.pk %}"
                                                   class="btn btn-outline-success">
                                                    Exporter
                                                </a>
                                            </li>
                                        </ul>


                                    </td>
                                </tr>
                            {% endfor %}
                        {% endblock form_entry_table_row %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-4 col-sm-4 col-lg-4">
            <div>
                <h2>Actions</h2>
            </div>

            <div class="btn-group-vertical">
                {% block form_entry_actions %}
                    <a href="{% url 'fobi.create_form_entry' %}" class="btn btn-primary">
                        Créer un formulaire
                    </a>
                    <a href="{% url 'fobi.import_form_entry' %}" class="btn btn-dark">
                        Importer un formulaire (BETA)
                    </a>
                    {% for form_importer_uid,form_importer_name,form_importer_url in form_importers %}
                        <a href="{{ form_importer_url }}" class="list-group-item">
                            {{ form_importer_name }}
                        </a>
                    {% endfor %}
                {% endblock form_entry_actions %}
            </div>
        </div>
    </div>



{% endblock %}
</div>






