{% extends 'main/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Portail Web CHU Limoges{% endblock %}

{% block content %}

    {% if user.role == "investigateur" %}
    <div class="container">
        <h1 class="mt-4">Premier formulaire :</h1>
        <form method="post" action="#">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success mt-4" name="valide"> Valider</button>
        </form>
    </div>
    {% endif %}

{% endblock %}